# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environment
env/
venv/
bin/
include/
instance/
lib/
lib64/
pyvenv.cfg
.env

# Flask / instance folder
instance/
*.log

# Pytest cache
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# Mac/Linux
.DS_Store
